*{
    font-family: sans-serif;
    margin-left: 1rem;
    padding: 0rem;
    box-sizing: border-box;
}


ul{
    list-style-type: circle;
}

li{
    padding: 0.5rem;
}

header{
    text-align: center;
    padding: 1rem;
}

header h2{
    margin: 0;
}
header h3{
    font-weight: normal;
    margin: 0;
}

#OrderedList_abcd{
    list-style-type: lower-alpha;
}

#OrderedList_abcd li{
    padding: 0;
}

